<div class="root">
    <h2 *ngIf="this.currentUrl !== '/transactions'">
        Últimas transacciones
    </h2>
    <h2 *ngIf="this.currentUrl === '/transactions'">
        Todas las transacciones
    </h2>
    <div *ngIf="this.isLoading" class="loader-container">
      <mat-progress-bar mode="indeterminate" color="accent"/>
    </div>
    <div *ngIf="!this.isLoading">
        <div
            class="transaction-container"
            *ngFor="let transaction of this.transactions; let i = index"
            [ngClass]="{'odd-transaction-container': i % 2 !== 0}"
        >
            <div class="transaction-icon">
                <div
                    *ngIf="transaction.type === 'transfer'"
                    class="icon-container"
                    [ngClass]="
                        transaction.isIncome ?
                        'income-icon-container' :
                        'outcome-icon-container'
                    "
                >
                    <mat-icon
                        *ngIf="transaction.isIncome"
                        aria-hidden="false"
                        aria-label="Received icon"
                        fontIcon="south_west"
                        class="material-icons-outlined icon"
                    ></mat-icon>
                    <mat-icon
                        *ngIf="!transaction.isIncome"
                        aria-hidden="false"
                        aria-label="Sent icon"
                        fontIcon="north_east"
                        class="material-icons icon"
                    ></mat-icon>
                </div>
                <div
                    *ngIf="transaction.type !== 'transfer'"
                    class="icon-container"
                    [ngClass]="
                        transaction.isIncome ?
                        'income-icon-container' :
                        'outcome-icon-container'
                    "
                >
                    <mat-icon
                        *ngIf="transaction.isIncome"
                        aria-hidden="false"
                        aria-label="Income icon"
                        fontIcon="expand_less"
                        class="material-icons-outlined icon"
                    ></mat-icon>
                    <mat-icon
                        *ngIf="!transaction.isIncome"
                        aria-hidden="false"
                        aria-label="Outcome icon"
                        fontIcon="expand_more"
                        class="material-icons icon"
                    ></mat-icon>
                </div>
            </div>
            <div class="transaction-title">
                <div *ngIf="transaction.type === 'transfer'">
                    <p class="bold-text">
                        {{transaction.otherUserFullName}}
                    </p>
                    <p>
                        {{transaction.displayType}}
                    </p>
                </div>
                <div *ngIf="transaction.type !== 'transfer'">
                    <p class="bold-text">
                        {{transaction.displayType}}
                    </p>
                </div>
            </div>
            <div class="transaction-amount">
                <p class="bold-text">
                    $ {{transaction.displayAmount}}
                </p>
            </div>
            <div class="transaction-date">
                <p *ngIf="!this.isMobile" class="bold-text">
                    {{transaction.displayDate}}
                </p>
                <p *ngIf="!this.isMobile">
                    {{transaction.displayTime}}
                </p>
                <p *ngIf="this.isMobile">
                    {{transaction.displayMobile}}
                </p>
            </div>
            <div
                *ngIf="!this.isMobile"
                class="transaction-status"
            >
                <p class="green-text">
                    Completado
                </p>
            </div>
            <div
                *ngIf="!this.isMobile"
                class="transaction-options"
                matTooltip="Próximamente"
            >
                <div class="options-container">
                    <span>···</span>
                </div>
            </div>
        </div>
    </div>
</div>
