<div class="activity-root">
    <h2>Últimas transacciones</h2>
    <div class="transactions-list-container">
        <div
            class="transaction-container"
            *ngFor="let transaction of this.transactions"
        >
            <div class="transaction-icon">
                +
            </div>
            <div>
                <p>
                    Samantha W.
                </p>
                <p>
                    Transferencia
                </p>
            </div>
            <div>
                <p>
                    $ 50.000
                </p>
            </div>
            <div>
                <p>
                    25 Ene, 2023
                </p>
                <p>
                    04:34:45 AM
                </p>
            </div>
            <div>
                <p>
                    Completado
                </p>
            </div>
            <div>
                <span>···</span>
            </div>
        </div>
    </div>
</div>
