main {
    min-height: 100vh;
    display: flex;
    background-image: url('../../../assets/background-pattern.jpg');
    background-size: cover;
}

.welcome {
    width: 55%;
    display: flex;
    justify-content: center;
    padding-top: 45vh;
}

.welcome h2 {
    color: #525252;
    font-size: 2rem;
}

.welcome span {
    color: #272f65;
}

.form {
    width: 45%;
}

@media (max-width: 900px) {
    .welcome {
        display: none;
    }
    .form {
        width: 100%;
    }
}
