<div *ngIf="this.isLoading" class="loader-container base">
    <mat-spinner color="accent" diameter="60"/>
</div>
<div *ngIf="!this.isLoading" class="root base">
    <div class="card-balance-container">
        <p class="card-balance-header">Mi saldo</p>
        <span class="card-balance-amount">
            $ {{this.balance}}
        </span>
    </div>
    <div class="card-number-container">
        <span>
            **** **** **** 1234
        </span>
    </div>
    <div class="card-details-container">
        <div>
            <p class="card-details-header">Titular tarjeta</p>
            <span>
                {{this.firstName + ' ' + this.lastName}}
            </span>
        </div>
        <div>
            <p class="card-details-header">Válida hasta</p>
            <span>
                03/25
            </span>
        </div>
    </div>
    <div class="graphics-container">
        <div class="circle first-circle"></div>
        <div class="circle second-circle"></div>
        <div class="mountain first-mountain"></div>
        <div class="mountain second-mountain"></div>
    </div>
</div>
