<div class="card-root">
    <div>
        <p class="card-balance-header">Mi saldo</p>
        <span class="card-balance-amount">
            ${{this.balance}}
        </span>
    </div>
    <div class="card-number">
        <span>
            **** **** **** 1234
        </span>
    </div>
    <div class="card-details-container">
        <div>
            <p class="card-details-header">Titular tarjeta</p>
            <span>
                {{this.firstName + ' ' + this.lastName}}
            </span>
        </div>
        <div>
            <p class="card-details-header">Válida hasta</p>
            <span>
                03/21
            </span>
        </div>
    </div>
</div>
