<h1 class="title">Extraer dinero</h1>
<section
    *ngIf="
        !this.isConfirmSection &&
        !this.isSummarySection
    "
>
    <h2>¿Cuánto vas a retirar?</h2>
    <div>
        <app-amount-input
            [control]="this.transactionAmount"
            [balance]="this.balance"
        />
        <app-amount-errors
            [errors]="this.amountErrors"
            [touched]="this.transactionAmount.touched"
        />
    </div>
    <app-balance-value [balance]="this.strBalance"/>
    <app-continue-button
        [errors]="this.amountErrors"
        [pristine]="this.transactionAmount.pristine"
        (onClick)="onContinueClick()"
    />
</section>
<section *ngIf="this.isConfirmSection">
    <h2>Revisa los datos</h2>
    <h4 class="confirm-subtitle">Vas a retirar:</h4>
    <p class="entered-amount">
        $ {{this.transactionAmount.value}}
    </p>
    <app-binary-question
        questionText="¿Confirmas la operación?"
        cancelText="Cancelar"
        proceedText="Aceptar"
        cancelMatColor="warn"
        proceedMatColor="primary"
        (cancel)="this.onCancelClick()"
        (proceed)="this.onConfirmClick()"
    />
</section>
<section *ngIf="this.isSummarySection">
    <app-summary
        [amount]="this.transactionData.amount"
        [date]="this.transactionData.date"
        [type]="this.transactionData.type"
    />
    <app-binary-question
        questionText="¿Qué deseas hacer?"
        cancelText="Volver al inicio"
        proceedText="Otra extracción"
        proceedMatColor="primary"
        (cancel)="this.onGoHomeClick()"
        (proceed)="this.onRestartClick()"
    />
</section>
