/* Schematic */
.sidenav-container {
  height: 100%;
  background-color: #f5f5f5;
}

.sidenav {
  width: 15%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Added */
.logo-container {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-anchor {
  text-decoration: none;
  color: black;
}

.logo-text {
  font-size: 2rem;
  font-weight: 600;
}

.logo-text:hover {
  cursor: pointer;
}

.menu-option {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #888;
}

.selected-menu-option {
  color: #272f65;
  font-weight: 700;
}

.example-spacer {
  flex: 1 1 auto;
}

.header-toolbar {
  padding: 2vh 6vh;
  height: auto;
}

.search-bar {
  width: 50%;
  display: flex;
  align-items: center;
  padding: .4rem 2rem;
  gap: 1rem;
  background-color: white;
  color: #999;
  border-radius: 2rem;
  font-size: 1rem;
}

.search-bar:hover {
  cursor: text;  
}

.account-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-container {
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.icon {
  color: #999;
}

.profile-picture {
  width: 58px;
  height: 58px;
  object-fit: cover;
  border-radius: 50%;
  display: none;
}

.profile-picture:hover {
  cursor: pointer;
  opacity: .9;
}

.do-display {
  display: unset;
}

.name-loader-container {
  width: 250px;
}

@media (max-width: 900px) {
  .menu-icon {
    color: white;
  }

  .header-toolbar {
    padding: 1vh 3vh;
    height: auto;
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  
  .sidenav {
    width: 50%;
  }

  .profile-picture {
    width: 40px;
    height: 40px;
  }
}
