<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <div class="logo-container">
      <a routerLink="/home" class="logo-anchor">
        <p class="logo-text">
          Unicomer
        </p>
      </a>
    </div>
    <mat-nav-list>
      <div *ngFor="let menuOption of this.menuOptions">
        <a
          mat-list-item
          [routerLink]="
            menuOption.route ?
            menuOption.route : null
          "
          (click)="this.onMenuOptionClick(menuOption.id)"
        >
          <div
            class="menu-option"
            [ngClass]="{
              'selected-menu-option':
              this.currentUrl === menuOption.route
            }"
          >
            <mat-icon
              class="material-icons-outlined"
              aria-label="Home icon"
              fontIcon="{{menuOption.iconName}}"
            ></mat-icon>
            <span>
              {{menuOption.description}}
            </span>
          </div>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="header-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon
          aria-label="Side nav toggle icon"
          class="menu-icon"
          fontIcon="menu"
        >
        </mat-icon>
      </button>
      <div
        *ngIf="!(this.isHandset$ | async)"
        class="search-bar"
        [matTooltipDisabled]="true"
        #searchBarTooltip="matTooltip" 
        matTooltip="Próximamente"
        (click)="displaySearchBarTooltip()"
      >
        <mat-icon
          fontIcon="search"
          class="material-icons-outlined"
        ></mat-icon>
        <p>Busca aquí</p>
      </div>
      <span class="example-spacer"></span>
      <div class="account-buttons">
        <button
          *ngIf="!(this.isHandset$ | async)"
          mat-icon-button
          [matTooltipDisabled]="true"
          #settingsTooltip="matTooltip" 
          matTooltip="Próximamente"
          (click)="displaySettingsTooltip()"
          aria-label="Icon-button with settings icon"
          class="icon-container"
        >
          <mat-icon
            fontIcon="settings"
            class="material-icons-outlined icon"
          ></mat-icon>
        </button>
        <button
          *ngIf="!(this.isHandset$ | async)"
          mat-icon-button
          [matTooltipDisabled]="true"
          #notificationsTooltip="matTooltip" 
          matTooltip="Próximamente"
          (click)="displayNotificationsTooltip()"
          aria-label="Icon-button with notifications icon"
          class="icon-container"
        >
          <mat-icon
            fontIcon="notifications"
            class="material-icons-outlined icon"
          ></mat-icon>
        </button>
        <div *ngIf="this.isLoading" class="name-loader-container">
          <mat-progress-bar mode="indeterminate" color="accent"/>
        </div>
        <img
          src="{{this.profilePictureURL}}"
          alt="Profile picture"
          class="profile-picture"
          [class.do-display]="!this.isLoading"
          [matTooltipDisabled]="true"
          #profilePictureTooltip="matTooltip" 
          matTooltip="Próximamente"
          (load)="onImageLoaded()"
          (click)="displayProfilePictureTooltip()"
        >
        <p *ngIf="!(this.isHandset$ | async) && !this.isLoading">
          {{this.firstName + ' ' + this.lastName}}
        </p>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
