.balance-root {
    padding-top: 3vh;
    padding-right: 4vh;
    padding-bottom: 2vh;
    padding-left: 4vh;
}

.balance-root h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.loader-container {
    padding-top: 2rem;
}

@media (max-width: 900px) {
    .balance-root {
        padding-top: 3vh;
        padding-right: 2vh;
        padding-bottom: 2vh;
        padding-left: 2vh;
    }

    .balance-root h4 {
        margin-bottom: .5rem;
    }
}
