<div class="logo-container">
    <h2>LOGO</h2>
</div>
<router-outlet></router-outlet>
<div class="keyboard-container">
    <div
        *ngIf="!this.virtualKeyboardEnabled"
        class="keyboard-button"
        (click)="this.virtualKeyboardEnabled = !this.virtualKeyboardEnabled"
    >
        <mat-icon
            aria-hidden="false"
            aria-label="Virtual keyboard icon"
            fontIcon="keyboard"
            class="material-icons-outlined"
        ></mat-icon>
        <p>Teclado virtual</p>
    </div>
    <div
        *ngIf="this.virtualKeyboardEnabled"
        class="keyboard"
        (click)="this.virtualKeyboardEnabled = !this.virtualKeyboardEnabled"
    >
        Próximamente...
    </div>
</div>
<div class="switch-anchor-container">
    <p *ngIf="this.currentUrl === '/auth/login'">
        ¿No tienes cuenta?
        <a href="auth/signup" class="switch-anchor">
            Regístrate aquí
        </a>
    </p>
    <p *ngIf="this.currentUrl === '/auth/signup'">
        ¿Ya tienes cuenta?
        <a href="auth/login" class="switch-anchor">
            Ingresa aquí
        </a>
    </p>
</div>
