<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Tipo de documento</mat-label>
        <mat-select
            formControlName="documentType"
        >
            <mat-option *ngFor="let documentType of documentTypes" [value]="documentType.value">
            {{documentType.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div style="height: 2rem; color: #ee0000">
        <span
            *ngIf="!documentType?.valid && documentType?.touched"
        >
        Tipo requerido
        </span>
    </div>
    
    <mat-form-field>
        <mat-label>Número de documento</mat-label>
        <input
            matInput
            formControlName="documentNumber"
            placeholder="12345678"
        >
    </mat-form-field>
    <div style="height: 2rem; color: #ee0000">
        <span
            *ngIf="!documentNumber?.valid && documentNumber?.touched"
        >
        Número inválido
        </span>
    </div>

    <mat-form-field>
        <mat-label>Clave</mat-label>
        <input
            matInput
            formControlName="password"
        >
    </mat-form-field>
    <div style="height: 2rem; color: #ee0000">
        <span
            *ngIf="!password?.valid && password?.touched"
        >
        Clave requerida
        </span>
    </div>

    <mat-form-field>
        <mat-label>Repetir clave</mat-label>
        <input
            matInput
            formControlName="passwordRepeat"
        >
    </mat-form-field>
    <div style="height: 2rem; color: #ee0000">
        <span
            *ngIf="!passwordRepeat?.valid && passwordRepeat?.touched"
        >
        Clave repetida requerida
        </span>
    </div>

    <button
        mat-flat-button
    >
        Registrarme
    </button>
</form>
