:host {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    margin-bottom: 1rem;
}

.mdc-text-field__input {
    color: #eee;
}

@media (max-width: 566px) {
    /* Scrollable form */
}
