<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Correo electrónico</mat-label>
        <input
            type="email"
            matInput
            formControlName="email"
            placeholder="user@example.com"
        >
        <mat-error *ngIf="!email?.valid && email?.touched">
            Correo inválido
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input
            matInput
            formControlName="firstName"
        >
        <mat-error *ngIf="!firstName?.valid && firstName?.touched">
            Nombre inválido
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input
            matInput
            formControlName="lastName"
        >
        <mat-error *ngIf="!lastName?.valid && lastName?.touched">
            Apellido inválido
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Tipo de documento</mat-label>
        <mat-select formControlName="documentType">
            <mat-option
                *ngFor="let documentType of documentTypes"
                [value]="documentType.value"
            >
            {{documentType.viewValue}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="!documentType?.valid && documentType?.touched">
            Tipo requerido
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Número de documento</mat-label>
        <input
            type="number"
            matInput
            formControlName="documentNumber"
        >
        <mat-error *ngIf="!documentNumber?.valid && documentNumber?.touched">
            Número inválido
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Clave</mat-label>
        <input
            type="password"
            matInput
            formControlName="password"
        >
        <mat-error *ngIf="!password?.valid && password?.touched">
            Clave inválida
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Repetir clave</mat-label>
        <input
            type="password"
            matInput
            formControlName="passwordRepeat"
            pattern="{{this.password.value}}"
        >
        <!-- Kind of weird, but it works -->
        <mat-error *ngIf="
            password?.valid &&
            !passwordRepeat?.valid &&
            passwordRepeat?.touched"
        >
            Las claves no coinciden
        </mat-error>
    </mat-form-field>
    <button mat-flat-button>
        Registrarme
    </button>
    <div class="spinner-or-error">
        <mat-spinner *ngIf="this.isLoading" diameter="40"/>
        <p *ngIf="!this.isLoading">
        {{this.errorMessage}}
        </p>
    </div>
</form>
