.base {
    height: 100%;
    border-radius: 2rem;
    display: flex;
    background-color: white;
}

.loader-container {
    justify-content: center;
    align-items: center;
}

.root {
    overflow: hidden;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.icons-and-value {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    height: 72px;
    width: 72px;
}

.header-icons-container-income {
    background-color: rgb(39, 47, 101);
}

.header-icons-container-outcome {
    background-color: rgb(93, 149, 190);
}

.icon {
    height: 24px;
    width: 24px;
    font-size: 24px;
}

.icon-sm {
    height: 18px;
    width: 18px;
    font-size: 18px;
}

.last-month-icon-container {
    height: 24px;
}

.last-month-icon {
    height: 24px;
    width: 24px;
    font-size: 24px;
}

.last-month-percentage {
    margin-top: -6px;
}

.title {
    display: flex;
    flex-direction: column;
}

.total {
    font-weight: 500;
    font-size: 1.6rem;
}

.last-month {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon-and-percentage {        
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.difference-positive {
    color: #48a18a;
}

.difference-negative {
    color: #ec595b;
}

.difference-neutral {
    color: gray;
}

.light-text {
    opacity: .6;
}

.bolder {
    font-weight: 500;
    margin-bottom: .2rem;
}

.canvas-container {
    height: 55%;
    margin-left: -4px;
    margin-right: -4px;
}

@media (min-width: 901px) and (max-width: 1600px) {
    .header {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .icons-and-value {
        gap: .8rem;
    }
    
    .header-icons-container {
        height: 56px;
        width: 56px;
    }
        
    .icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
    }
    
    .icon-sm {
        height: 18px;
        width: 18px;
        font-size: 18px;
    }

    .last-month {
        font-size: 14px;
    }

    .last-month-icon-container {
        height: 18px;
    }
    
    .last-month-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
    }    
        
    .total {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .root {
        height: 250px;
        border-radius: 12px;
    }

    .header {
        height: 110px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .header-icons-container {
        width: 56px;
        height: 56px;
    }
    
    .canvas-container {
        height: 125px;
        margin-left: -4px;
        margin-right: -4px;
    }
}
