<h1 class="title">
    {{
        this.transactionType === 'withdrawal' ?
        'Extraer dinero' :
        'Depositar dinero'
    }}
</h1>
<section
    *ngIf="
        !this.isConfirmSection &&
        !this.isSummarySection
    "
>
    <h2>
        ¿Cuánto vas a
        {{
            this.transactionType === 'withdrawal' ?
            ' retirar?' :
            ' ingresar?'
        }}
    </h2>
    <div>
        <app-amount-input
            [control]="this.transactionAmount"
            [balance]="this.balance"
            [dismissBalance]="
                this.transactionType === 'deposit'
            "
        />
        <app-amount-errors
            [errors]="this.amountErrors"
            [touched]="this.transactionAmount.touched"
        />
    </div>
    <app-balance-value [balance]="this.strBalance"/>
    <app-continue-button
        [errors]="this.amountErrors"
        [pristine]="this.transactionAmount.pristine"
        (onClick)="onContinueClick()"
    />
</section>
<section *ngIf="this.isConfirmSection">
    <h2>Revisa los datos</h2>
    <h4 class="confirm-subtitle">
        {{
            this.transactionType === 'withdrawal' ?
            'Vas a retirar:' :
            'Ingresaste:'
        }}
    </h4>
    <p class="entered-amount">
        $ {{this.strAmount}}
    </p>
    <app-binary-question
        questionText="¿Confirmas la operación?"
        cancelText="Cancelar"
        proceedText="Aceptar"
        cancelMatColor="warn"
        proceedMatColor="primary"
        (cancel)="this.onCancelClick()"
        (proceed)="this.onConfirmClick()"
    />
</section>
<section *ngIf="this.isSummarySection">
    <app-summary
        [amount]="this.transactionData.amount"
        [date]="this.transactionData.date"
        [type]="this.transactionData.type"
    />
    <app-binary-question
        questionText="¿Qué deseas hacer?"
        cancelText="Volver al inicio"
        [proceedText]="
            this.transactionType === 'withdrawal' ?
            'Otra extracción' :
            'Otro depósito'
        "
        proceedMatColor="primary"
        (cancel)="this.onGoHomeClick()"
        (proceed)="this.onRestartClick()"
    />
</section>
