<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Tipo de documento</mat-label>
        <mat-select formControlName="documentType">
            <mat-option
                *ngFor="let documentType of documentTypes"
                [value]="documentType.value"
            >
            {{documentType.viewValue}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="!documentType.valid">
            Tipo requerido
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Número de documento</mat-label>
        <input
            type="tel"
            matInput
            formControlName="documentNumber"
        >
        <mat-error *ngIf="!documentNumber.valid">
            Número requerido
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Clave</mat-label>
        <input
            type="password"
            matInput
            formControlName="password"
        >
        <mat-error *ngIf="!password.valid">
            Clave requerida
        </mat-error>
    </mat-form-field>
    <button mat-flat-button>
        Ingresar
    </button>
    <div class="spinner-or-error">
        <mat-spinner *ngIf="this.isLoading" diameter="40"/>
        <p *ngIf="!this.isLoading">
        {{this.errorMessage}}
        </p>
    </div>
</form>
