:host {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    margin-bottom: 1rem;
}

.mdc-text-field__input {
    color: #eee;
}

.spinner-or-error {
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #f11;
}

@media (max-width: 566px) {
    /* Scrollable form */
}
