:host {
    width: 100%;
    padding-top: 10vh;
}

form {
    display: flex;
    flex-direction: column;
}

/* Angular material */
mat-form-field {
    margin-bottom: 1.2rem;
}

.mdc-text-field__input {
    color: #f5f5f5;
}

@media (max-width: 900px) {
    :host {
        padding-top: 0;
    }

    mat-form-field {
        margin-bottom: 1.5rem;
    }
}
