<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="field">
        <label for="documentType">
        <!-- (Será un select) -->
        Tipo de documento
        </label>
        <input
        type="text"
        id="documentType"
        formControlName="documentType"
        required
        >
        <div style="height: 2rem;">
        <span
            *ngIf="!documentType?.valid && documentType?.touched"
        >
            Valor inválido
        </span>
        </div>
    </div>
    <div class="field">
        <label for="documentNumber">
        Número de documento
        </label>
        <input
        type="number"
        id="documentNumber"
        formControlName="documentNumber"
        required
        >
        <div style="height: 2rem;">
        <span
            *ngIf="!documentNumber?.valid && documentNumber?.touched"
        >
            Número inválido
        </span>
        </div>
    </div>
    <div class="field">
        <label for="password">
            Clave
        </label>
        <input
        type="password"
        id="password"
        formControlName="password"
        required
        >
        <div style="height: 2rem;">
        <span
            *ngIf="!password?.valid && password?.touched"
        >
            Clave requerida
        </span>
        </div>
    </div>
    <div>
        <button>
        Ingresar<i></i>
        </button>
    </div>
    <div style="height: 3rem; margin-top: 1rem;">
        <span *ngIf="error">
            {{error}}
        </span>
    </div>
</form>
