<section *ngIf="this.users">
    <h2>¿A quién le querés transferir?</h2>
    <ul class="unordered-list">
        <li
            *ngFor="let user of this.users; let i = index"
            class="list-item" 
            [ngClass]="{'odd-user-container': i % 2 !== 0}"
            (click)="this.onUserClickHandler(user)"
        >
            <img
                class="user-image"
                [src]="
                    user.profilePictureURL ||
                    'https://i.pravatar.cc/150?img=26'
                "
                alt="Other user's picture"
            >
            <div class="fullname-and-email-container">
                <p class="fullname-container wrappable-text-container">
                    {{user.firstName}}
                    {{' '}}
                    {{user.lastName}}
                </p>
                <p class="email-container wrappable-text-container">
                    {{user.email}}
                </p>
            </div>
            <div class="transfer-sign-container">
                <p>
                    Transferir
                </p>
            </div>
        </li>
    </ul>
</section>
