section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

h2 {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

.unordered-list {
    list-style: none;
    width: 900px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    border-radius: .2rem;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}

.list-item:hover {
    cursor: pointer;
    .transfer-sign-container {
        visibility: visible;
    }
}

.odd-user-container {
    background-color: #fff;
}

.user-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.fullname-and-email-container {
    display: flex;
    flex-direction: column;
}

.fullname-container {
    font-weight: 500;
}

.email-container {
    opacity: .8;
}

.wrappable-text-container {
    width: 700px;
    word-wrap: break-word;
}

.transfer-sign-container {
    visibility: hidden;
    text-align: center;
    color: #416191;
    font-weight: 500;
}

@media (max-width: 900px) {
    .unordered-list {
        width: auto;
    }
    
    .wrappable-text-container {
        width: 60vw;
    }

    .transfer-sign-container {
        display: none;
    }
}
