
<section
    *ngIf="this.users"
    class="list-section"
>
    <h2>¿A quién le querés transferir?</h2>
    <ul class="unordered-list">
        <li
            *ngFor="let user of this.users; let i = index"
            class="list-item" 
            [ngClass]="{'odd-user-container': i % 2 !== 0}"
            (click)="this.onUserClickHandler(user)"
        >
            <div class="image-container">
                <img
                    class="user-image"
                    [src]="
                        user.profilePictureURL ||
                        'https://i.pravatar.cc/150?img=26'
                    "
                    alt="Other user's picture"
                >
            </div>
            <p class="fullname-container">
                <span>
                    {{user.firstName}}
                </span>
                <span>
                    {{user.lastName}}
                </span>
            </p>
            <p class="email-container">
                <span class="user-email">
                    {{user.email}}
                </span>
            </p>
            <div class="transfer-sign-container">
                <p>
                    Transferir
                </p>
            </div>
        </li>
    </ul>
</section>
