main {
    width: 100%;
    padding: 4vh;
    background-color: #eee;
}

.title {
    font-weight: 500;
    margin-bottom: 3vh;
}

section {
    display: flex;
    margin-bottom: 4vh;
}

.cards {
    gap: 3vh;
}

.card {
    flex: 1;
    height: 30vh;
}

.balance-and-activity {
    gap: 2vh;
}

.balance {
    flex: 5;
    background-color: white;
    border-radius: 20px;
}

.activity {
    flex: 4;
}

@media (max-width: 900px) {
    main {
        padding: 3vh;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .balance-and-activity {
        display: flex;
        flex-direction: column;
    }

    .balance {
        border-radius: 10px;
    }
}
