main {
    width: 100%;
    padding: 4vh;
    background-color: #eee;
}

section {
    display: flex;
    margin-bottom: 4vh;
}

.cards {
    gap: 3vh;
}

.card {
    flex: 1;
    height: 30vh;
}

.balance-and-activity {
    gap: 2vh;
}

.balance {
    flex: 5;
    background-color: white;
    border-radius: 20px;
}

.activity {
    flex: 4;
}
