<app-navbar>
    <main>
        <app-deposit
            *ngIf="this.transactionType === 'deposit'"
            [isLoading]="this.isLoading"
            [errorMessage]="this.errorMessage"
            [transactionAmount]="this.transactionAmount"
            [amountErrors]="this.amountErrors"
            [transactionData]="this.transactionData"
            [balance]="this.balance"
            [strBalance]="this.strBalance"
            [isConfirmSection]="this.isConfirmSection"
            [isSummarySection]="this.isSummarySection"
            (continue)="this.onContinueClick()"
            (cancel)="this.onCancelClick()"
            (confirm)="this.onConfirmClick()"
            (goHome)="this.onGoHomeClick()"
            (restart)="this.onRestartClick()"
        />
        <app-transfer
            *ngIf="this.transactionType === 'transfer'"
            [isLoading]="this.isLoading"
            [errorMessage]="this.errorMessage"
            [transferAmount]="this.transactionAmount"
            [amountErrors]="this.amountErrors"
            [transferData]="this.transactionData"
            [balance]="this.balance"
            [strBalance]="this.strBalance"
            [isConfirmSection]="this.isConfirmSection"
            [isSummarySection]="this.isSummarySection"
            [otherUsers]="this.otherUsers"
            [selectedUser]="this.selectedUser"
            (selectUser)="this.onUserClick($event)"
            (continue)="this.onContinueClick()"
            (cancel)="this.onCancelClick()"
            (confirm)="this.onConfirmClick()"
            (goHome)="this.onGoHomeClick()"
            (restart)="this.onRestartClick()"
        />
    </main>
</app-navbar>
