<app-navbar>
    <main>
        <h1 class="title">Transferir dinero</h1>
        <section
            *ngIf="!this.selectedUser"
            class="list-section"
        >
            <h2>¿A quién le querés transferir?</h2>
            <ul class="unordered-list">
                <li
                    *ngFor="let user of this.otherUsers; let i = index"
                    class="list-item" 
                    [ngClass]="{'odd-user-container': i % 2 !== 0}"
                    (click)="this.onUserClick(user)"
                >
                    <div class="image-container">
                        <img
                            class="user-image"
                            [src]="
                                user.profilePictureURL ||
                                'https://i.pravatar.cc/150?img=26'
                            "
                            alt="Other user's picture"
                        >
                    </div>
                    <p class="fullname-container">
                        <span>
                            {{user.firstName}}
                        </span>
                        <span>
                            {{user.lastName}}
                        </span>
                    </p>
                    <p class="email-container">
                        <span class="user-email">
                            {{user.email}}
                        </span>
                    </p>
                    <div class="transfer-sign-container">
                        <p>
                            Transferir
                        </p>
                    </div>
                </li>
            </ul>
        </section>
        <section
            *ngIf="
                this.selectedUser &&
                !this.isConfirmSection &&
                !this.isSummarySection
            "
            class="input-section"
        >
            <h2>Vas a transferirle a</h2>
            <div class="selected-user">
                <div class="image-container">
                    <img
                        class="user-image"
                        [src]="
                            this.selectedUser.profilePictureURL ||
                            'https://i.pravatar.cc/150?img=26'
                        "
                        alt="Other user's picture"
                    >
                </div>
                <div class="selected-user-info">
                    <p class="fullname-container">
                        <span>
                            {{this.selectedUser.firstName}}
                        </span>
                        <span>
                            {{this.selectedUser.lastName}}
                        </span>
                    </p>
                    <p class="email-container">
                        <span class="user-email">
                            {{this.selectedUser.email}}
                        </span>
                    </p>
                </div>
            </div>
            <div>
                <app-amount-input [control]="this.transferAmount"/>
                <app-amount-errors
                    [errors]="this.amountErrors"
                    [touched]="this.transferAmount.touched"
                />
            </div>
            <app-balance-value [balance]="this.strBalance"/>
            <app-continue-button
                [errors]="this.amountErrors"
                [pristine]="this.transferAmount.pristine"
                (onClick)="onContinueClick()"
            />
        </section>
        <section
            *ngIf="this.isConfirmSection"
            class="confirm-section"
        >
            <h2>Revisa los datos</h2>
            <h4 class="receiver-title">Destinatario:</h4>
            <div class="selected-user">
                <div class="image-container">
                    <img
                        class="user-image"
                        [src]="
                            this.selectedUser.profilePictureURL ||
                            'https://i.pravatar.cc/150?img=26'
                        "
                        alt="Other user's picture"
                    >
                </div>
                <div class="selected-user-info">
                    <p class="fullname-container">
                        <span>
                            {{this.selectedUser.firstName}}
                        </span>
                        <span>
                            {{this.selectedUser.lastName}}
                        </span>
                    </p>
                    <p class="email-container">
                        <span class="user-email">
                            {{this.selectedUser.email}}
                        </span>
                    </p>
                </div>
            </div>
            <p class="entered-amount">
                Monto: $ {{this.transferAmount.value}}
            </p>
            <app-binary-question
                questionText="¿Confirmas la operación?"
                cancelText="Cancelar"
                proceedText="Aceptar"
                cancelMatColor="warn"
                proceedMatColor="primary"
                (cancel)="this.onCancelClickHandler()"
                (proceed)="this.onConfirmClickHandler()"
            />
        </section>
        <section
            *ngIf="this.isSummarySection"
            class="summary-section"
        >
            <h2>¡Hecho!</h2>
            <h4 class="receiver-title">Datos de la operación:</h4>
            <div class="summary-info">
                <p>
                    Tipo: Transferencia
                </p>
                <p>
                {{
                    'De: ' +
                    this.transferData.sender.firstName +
                    ' ' +
                    this.transferData.sender.lastName +
                    ' (Tú)'
                }}
                </p>
                <p>
                {{
                    'Para: ' +
                    this.transferData.receiver.firstName +
                    ' ' +
                    this.transferData.receiver.lastName
                }}
                </p>
                <p>
                    Monto: ${{this.transferData.amount}}
                </p>
                <p>
                    Fecha: {{this.transferData.date}}
                </p>
            </div>
            <app-binary-question
                questionText="¿Qué deseas hacer?"
                cancelText="Volver al inicio"
                proceedText="Otra transferencia"
                proceedMatColor="primary"
                (cancel)="this.onGoHomeClick()"
                (proceed)="this.onNewTransferClick()"
            />
        </section>
        <app-spinner-or-error
            [isLoading]="this.isLoading"
            [errorMessage]="this.errorMessage"
        />
    </main>
</app-navbar>
