<h1 class="title">Transferir dinero</h1>
<app-users-list
    *ngIf="!this.selectedUser"
    [users]="this.otherUsers"
    [selectedUser]="this.selectedUser"
    (onUserClick)="this.onUserClick($event)"
/>
<section
    *ngIf="
        this.selectedUser &&
        !this.isConfirmSection &&
        !this.isSummarySection
    "
>
    <h2>Vas a transferirle a</h2>
    <app-selected-user [selectedUser]="this.selectedUser"/>
    <div>
        <app-amount-input
            [control]="this.transferAmount"            
            [balance]="this.balance"
        />
        <app-amount-errors
            [errors]="this.amountErrors"
            [touched]="this.transferAmount.touched"
        />
    </div>
    <app-balance-value [balance]="this.strBalance"/>
    <app-continue-button
        [errors]="this.amountErrors"
        [pristine]="this.transferAmount.pristine"
        (onClick)="onContinueClick()"
    />
</section>
<section *ngIf="this.isConfirmSection">
    <h2>Revisa los datos</h2>
    <h4 class="confirm-subtitle">Destinatario:</h4>
    <app-selected-user [selectedUser]="this.selectedUser"/>
    <p class="entered-amount">
        Monto: $ {{this.strAmount}}
    </p>
    <app-binary-question
        questionText="¿Confirmas la operación?"
        cancelText="Cancelar"
        proceedText="Aceptar"
        cancelMatColor="warn"
        proceedMatColor="primary"
        (cancel)="this.onCancelClick()"
        (proceed)="this.onConfirmClick()"
    />
</section>
<section *ngIf="this.isSummarySection">
    <app-summary
        [amount]="this.transferData.amount"
        [date]="this.transferData.date"
        [receiver]="this.transferData.receiver"
        [sender]="this.transferData.sender"
        [type]="this.transferData.type"
    />
    <app-binary-question
        questionText="¿Qué deseas hacer?"
        cancelText="Volver al inicio"
        proceedText="Otra transferencia"
        proceedMatColor="primary"
        (cancel)="this.onGoHomeClick()"
        (proceed)="this.onRestartClick()"
    />
</section>
