<app-navbar>
    <main>
        <h1 class="title">Depositar dinero</h1>
        <section
            *ngIf="
                !this.isConfirmSection &&
                !this.isSummarySection
            "
            class="input-section"
        >
            <h2>¿Cuánto vas a ingresar?</h2>
            <div>
                <app-amount-input [control]="this.transactionAmount"/>
                <app-amount-errors
                    [errors]="this.amountErrors"
                    [touched]="this.transactionAmount.touched"
                />
            </div>
            <app-balance-value [balance]="this.strBalance"/>
            <app-continue-button
                [errors]="this.amountErrors"
                [pristine]="this.transactionAmount.pristine"
                (onClick)="onContinueClick()"
            />
        </section>
        <section
            *ngIf="this.isConfirmSection"
            class="confirm-section"
        >
            <h2>Revisa los datos</h2>
            <h4 class="receiver-title">Ingresaste:</h4>
            <p class="entered-amount">
                Monto: $ {{this.transactionAmount.value}}
            </p>
            <app-binary-question
                questionText="¿Confirmas la operación?"
                cancelText="Cancelar"
                proceedText="Aceptar"
                cancelMatColor="warn"
                proceedMatColor="primary"
                (cancel)="this.onCancelClickHandler()"
                (proceed)="this.onConfirmClickHandler()"
            />
        </section>
        <section
            *ngIf="this.isSummarySection"
            class="summary-section"
        >
            <h2>¡Hecho!</h2>
            <h4 class="receiver-title">Datos de la operación:</h4>
            <div class="summary-info">
                <p>
                    Tipo: Depósito
                </p>
                <p>
                    Monto: ${{this.transactionData.amount}}
                </p>
                <p>
                    Fecha: {{this.transactionData.date}}
                </p>
            </div>
            <app-binary-question
                questionText="¿Qué deseas hacer?"
                cancelText="Volver al inicio"
                proceedText="Otro depósito"
                proceedMatColor="primary"
                (cancel)="this.onGoHomeClick()"
                (proceed)="this.onNewTransactionClick()"
            />
        </section>
        <app-spinner-or-error
            [isLoading]="this.isLoading"
            [errorMessage]="this.errorMessage"
        />
    </main>
</app-navbar>
