.spinner-or-error {
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
    color: #ec595b;
}
